## This is a Markdown code block

### I'm still header text but I'm smaller.  Why is that?

If you double click on me you will see that I am editable in a language called "markdown".  Search "markdown syntax" on google to find out how to use markdown language to make prettier visualizations.  Press "shift+enter" to make me pretty again.  You can decide whether a code block is "Markdown" or "Python" by changing the value of the dropdown box located at the top middle of the page.

[Learn more about Jupyter Notebooks here](https://www.datacamp.com/community/tutorials/tutorial-jupyter-notebook)

In [ ]:
## this is python code block  Remember that the pound sign "#" comments out code so that 
# the computer doesnt actually act on anything written on that line.

In [ ]:
# run this line with shift+enter
2+2

In [ ]:
# run me too
print("hi everybody")

In [ ]:
# run me three
for i in range(10):
    print("hello: " + str(i))

## Python Packages: Toolboxes that make life way way easier

Think of each Python packages as a toolbox containing a bunch of tools (functions) meant for a specific task.  For example, if I was a plumber trying to replace a toilet, I would not bring the same tools to the job that I would for replacing my ceiling fan.  I keep those tools in seperate toolkits or partioned in seperate sections of my toolbox.

Let's use **numpy** as an example of a python package.  **numpy** provides advanced mathematical formulas and vector-type transformations and calculations.  It will drag to the surface all of the repressed memories you have about when you took Linear Algebra.  **numpy** also happens to be a package that a significant number of other packages in Python are built on top of as vectors and linear algebra shows up in literally everything

Steps for using Python packages:

As shown from our example above, importing packages is just importing code from other python files.  Nothing to crazy.  The value in packages is that downloading and managing them is quite simple (for the most part).  If you download a package, it goes to the same folder directory as the others.

In [1]:
# load a package and all the functions and objects associated with that package
import numpy

# any functions you call from this package must be preceded by the name of the package

print( numpy.arange(0.0,10.0,0.5) )

[ 0.   0.5  1.   1.5  2.   2.5  3.   3.5  4.   4.5  5.   5.5  6.   6.5  7.
  7.5  8.   8.5  9.   9.5]

In [2]:
# you can load a specific function from a package and without using the package name as a header
from numpy import arange

print( arange(0.0,8.0,0.8) )

[ 0.   0.8  1.6  2.4  3.2  4.   4.8  5.6  6.4  7.2]

In [3]:
# you can give a nickname to the package when you import it
import numpy as np

print( np.arange(0.0,8.0,0.4))

[ 0.   0.4  0.8  1.2  1.6  2.   2.4  2.8  3.2  3.6  4.   4.4  4.8  5.2  5.6
  6.   6.4  6.8  7.2  7.6]

In [4]:
# you can load all the functions from a package without the header

from numpy import *

print( arange(0.0,8.0,0.8) )

[ 0.   0.8  1.6  2.4  3.2  4.   4.8  5.6  6.4  7.2]

## How does this package voodoo work?

There is another file in your Python lesson 2 directory called "**A_Different_Python_File_In_The_Same_Directory.py**"  Let's import all of the functions from it.

In [5]:
from A_Different_Python_File_In_The_Same_Directory import *

In [6]:
# We haven't declared this function yet.  Why does it work?

helloVanguardPythonStudents()

Hello you squirrelly bunch you!

As shown from our example above, importing packages is just importing code from other python files.  Nothing too crazy.  The value in packages is that downloading and managing them is quite simple (for the most part).  If you download a package, it goes to the same folder directory as all your other packages and Python knows to look in that directory for those packages.

**Note: This next part only works on a vanguard computer if you have the paid version of anaconda**

sys - native Python package that lets you access systems

In [7]:
import sys
sys.path

['',
 'C:\\Progra~1\\Anaconda3_4\\python36.zip',
 'C:\\Progra~1\\Anaconda3_4\\DLLs',
 'C:\\Progra~1\\Anaconda3_4\\lib',
 'C:\\Progra~1\\Anaconda3_4',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\Sphinx-1.5.6-py3.6.egg',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\win32',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\win32\\lib',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\Pythonwin',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\setuptools-27.2.0-py3.6.egg',
 'C:\\Progra~1\\Anaconda3_4\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\uwal\\.ipython']

In [8]:
# Download new packages:

# use ! (exclamation point) which tells jupyter to act as if it was command line

# to download a package you need, type: conda install <packageName> -y

# the "-y" just tells the installation to preemptively say yes to any questions

! conda install pandas -y

Fetching package metadata ...

CondaHTTPError: HTTP None None for url <https://anaconda-repo.opsp.c1.vanguard.com/conda/anaconda/win-64/repodata.json>
Elapsed: None

An HTTP error occurred when trying to retrieve this URL.
HTTP errors are often intermittent, and a simple retry will get you on your way.
ConnectionError(MaxRetryError("HTTPSConnectionPool(host='anaconda-repo.opsp.c1.vanguard.com', port=443): Max retries exceeded with url: /conda/anaconda/win-64/repodata.json (Caused by NewConnectionError('<requests.packages.urllib3.connection.VerifiedHTTPSConnection object at 0x0000011B4FAE7780>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',))",),)

![alt text](https://cdn-images-1.medium.com/max/1600/1*OpxJXlkjvcCuhkYYlPwTjA.png)

#### To find out which directories/folders python looks in to find other packages, you can look at the system path for Python.

In [9]:
import sys
for folder in sys.path:
    print(folder)

C:\Progra~1\Anaconda3_4\python36.zip
C:\Progra~1\Anaconda3_4\DLLs
C:\Progra~1\Anaconda3_4\lib
C:\Progra~1\Anaconda3_4
C:\Progra~1\Anaconda3_4\lib\site-packages
C:\Progra~1\Anaconda3_4\lib\site-packages\Sphinx-1.5.6-py3.6.egg
C:\Progra~1\Anaconda3_4\lib\site-packages\win32
C:\Progra~1\Anaconda3_4\lib\site-packages\win32\lib
C:\Progra~1\Anaconda3_4\lib\site-packages\Pythonwin
C:\Progra~1\Anaconda3_4\lib\site-packages\setuptools-27.2.0-py3.6.egg
C:\Progra~1\Anaconda3_4\lib\site-packages\IPython\extensions
C:\Users\uwal\.ipython

## Let's create a basic graph Example

Below is code that visualizes the the sin wave.  Notice how the code loads certain packages ("NumPy" for create numerical data vectors quickly, and "Matplotlib" for data visualization

In [10]:
# notice how we load python packages 
import matplotlib.pyplot  # a subgroup of functions with a package
import numpy

# notice how we call functions from the numpy package
time = numpy.arange(0.0, 2.0, 0.01)  
sinWave = 1 + numpy.sin(2 * numpy.pi * time)
print(sinWave[:10])

# run me

[ 1.          1.06279052  1.12533323  1.18738131  1.24868989  1.30901699
  1.36812455  1.42577929  1.48175367  1.53582679]

Sin Wave???? No one said anything about Trigonometry :( 

### Now lets graph the sinWave through time by using the package 'matplotlib'

In [ ]:
matplotlib.pyplot.plot(time, sinWave)

matplotlib.pyplot.xlabel('time (s)')
matplotlib.pyplot.ylabel('voltage (mV)')

matplotlib.pyplot.title('Wave Function Graph')
matplotlib.pyplot.grid(True)

matplotlib.pyplot.savefig("I_wasnt_here_before_picture.png")

matplotlib.pyplot.show()

## THE POWER OF PYTHON PACKAGES!
![alt text](https://imgs.xkcd.com/comics/python.png)


1. With **NumPy** we can create vectors for matrix functions like vector multiplication

2. With **MatPlotLib** we can quickly create visualizations with even just 6 lines of code!!!!!

## Time for the Pandas Python Package
<img src="http://geospatialtraining.com/wp-content/uploads/2018/01/Tutorial.png" width=600px>


Pandas is one of the backbone data analytics libraries for Python as it combines several packages and then adds on top of them for easy use.  Those packages include:

1. Built on top of NumPy and so can perform Linear Algebra type manipulations on lists while retaining the NumPy speed boost.
2. Represents data as columns and rows for easier visualizing and understanding of the data.
3. Built on top of the StatsModels package and so useful statistical functions like finding the **correlation** or **percent change** between lists of data extremely easy to do.
4. Can query data from the internet, SQL databases, Excel files, CSV files, in one line commands
5. Portions of the MatPlotLib visualization library are built into Pandas.
6. Includes SQL and Excel-type data manipulations 

## Now lets get our hands dirty with some Pandas data analytics

1. Load the pandas package into your python environment
2. Load the csv file "**DomainCount.csv**"

[Find help here!  Seriously, click this link!](https://chrisalbon.com/python/data_wrangling/pandas_dataframe_importing_csv/)

In [ ]:
# load the "pandas" package here
import pandas

In [ ]:
# create a pandas dataframe variable called "internetSheet" and load the csv file into it

internetSheet = pandas.

# don't touch the below line
internetSheet

### Basic Selecting and Indexing of Rows and Columns

#### [Pandas Cheat Sheet Reference Page: Click Me!](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)

DataFrame  (example shorthand variable name: "df")

In [ ]:
#DataFrame data type
type(internetSheet)

In [ ]:
# first five rows
internetSheet.head()

In [ ]:
#last five rows
internetSheet.tail()

Two methods of selecting columns:

- square braces + quotes:  **df['< name of column >']**

In [ ]:
internetSheet['url']

- using dot (period) notation:  **df.< column name>**

In [ ]:
internetSheet.url

In [ ]:
# columns are data type series:
type(internetSheet['url'])

In [ ]:
## select multiple columns:nested square brackets

internetSheet[['url','pageViews']].head(2)

In [ ]:
# select rows by position

# all values in second column
internetSheet.iloc[:,1]

In [ ]:
# all column values in first row
internetSheet.iloc[0,:]

In [ ]:
# last column of last row
internetSheet.iloc[-1,-1]

**Selecting a subset of data**

In [ ]:
# all rows with pageViews less than 30

internetSheet[ internetSheet['pageViews'] < 30 ]

### This Excel sheet contains URL's a person has visited.  Lets find out which domain, twitter.com or IMDB.com, Christian visited the most.

### Domains are the sections of the URL before the firstslash "/" so lets split the string into a list of strings seperated by backslashes

**twitter.com/login** --> ["**twitter.com**", "**login**"]

Answer is found here -> https://pandas.pydata.org/pandas-docs/stable/text.html

In [ ]:
# ex:  internetSheet['url']

# Let's create a new column called 'url list' and have it hold the string split list of values


internetSheet['url list'] = 


# don't touch the below line
internetSheet

### From that url list column, extract the first index in each list and move it to a new column "domain"

#### Hey that list comprehension from last time might be helpful to remember here

Answer is found in the same webpage yoou just visited

In [ ]:
# lets create a new column called "domain" that contains the first value of every list from 
# the column "url list"





# don't touch the below line
internetSheet

### Now group the rows by domain and sum the page views to see which website the user visited more

Create a new pandas dataframe variable called "domain" that is the shows the aggregation pageViews by domain.  This is similar to "group by" in R and Pivot Tables in Excel

(https://stackoverflow.com/questions/32751229/pandas-sum-by-groupby-but-exclude-certain-columns)

In [ ]:

domains = 


# don't touch the below line
domains

## Congrats! you just did some basic data analysis in Python and Pandas
You learned how to:
1. string cleaning to get the domain out of a url
2. load python packages
3. Load a csv file as a pandas dataframe
4. how to create new dataframe columns
5. how to group by and aggregate columns and row for analysis


## Let us move onto some more in-depth analysis and observe what is known as the Simpson Paradox

Sadly not related to the Simpsons

![alt text]()

## Problem: NYU fears it is discriminating against Sharks in favor of Jets in the college application process.  

## Lets analyze to see if that is the case.
1. Create a pandas DataFrame called "simpsons" loaded from the "excel" file "**simpsons.xlsx**"
2. Create a groupby DataFrame called "general" that aggregates the groupings of "**Admit**", and "**Group**" in order to find the acceptance rate

In [ ]:
#create a pandas DataFrame called "simpsons" loaded from the "excel" file "simpsons.xlsx"

simpsons = 

# don't edit below
simpsons

In [ ]:
# create a groupby dataframe called general from simpsons.  We will be grouping from two columns
# instead of one.  The code will be very similar to the last grouping


# don't edit below
general = pandas.DataFrame(general)  #groupby results don't actually create new dataframes so we need to do it again
general = general.reset_index() # this dataframe had tiered indexes/indices (columns) which we didn't want
general

### Notice that "Admitted" and "Rejected" are row values.  We want to make them column values instead so that we can find the acceptance rate.  This is similar to pivot tables in excel.

Answer is here -> https://stackoverflow.com/questions/28337117/how-to-pivot-a-dataframe-in-pandas

In [ ]:


pivot =

#don't edit below
pivot

### Now lets create a column called acceptance rate.  You can look earlier on this sheet for how to create columns

#### Go back to the previous Twitter vs IMDB example for declaring new columns

In [ ]:


#don't edit below
pivot

### Jeez, It looks like Jets are definitely favored over Sharks.  It doesn't take a statistical test to see that.  However, before we start posting our pseudo science results on Twitter, we should check and see how that discrimination breaks down by department

In this case let us create a dataframe called "**dept**" that is a pivot table of "**simpsons**" based off both group and department

In [ ]:
# check back on your previous pivot table and change it to reflect that you are grouping
# by two columns instead of 1

dept = 

# don't edit below
dept

To flatten the index so that we have access to everything, we will reset the index

In [ ]:
dept = dept.reset_index()

dept

Now lets create a column "**acceptance rate**" like we did before.

In [ ]:

# don't edit below
dept

Lets filter to find out which Group has the highest acceptance rate in each department

Answer is here -> https://stackoverflow.com/questions/25071937/filter-pandas-dataframe-based-on-max-values-in-a-column

In [ ]:
# google search: "filter based on highest value in  pandas"

Comparing the above outputs with our original results from general_pivot

In [ ]:
# run me
pivot

### Comparing the acceptance rates of the different departments, what is the data telling us now?

What did we learn?
1. Never trust data
2. How to use pivot tables
3. Loading excel files


![alt text](https://lh3.googleusercontent.com/-9HNmhBkcK8I/WIgR1skepYI/AAAAAAAAizU/ZwUg-1jWBhU/s640/blogger-image--1454242550.jpg)

## New Exercise:  Filtering Weekends and Holidays from a dataset
Dealing with timestamps in data analysis is terrible for many reasons:
1. Dates are written as strings so you can't add or subtract them
2. Excel usually converts some dates but not others and creates a mess
3. Dealing with timezones
4. Finding out weekdays and business days

Python has this handy package called "**datetime**" that makes dealing with dates much easier. Lets load up an excel file and see this in action

In [ ]:
import pandas as pd
import datetime  # we won't use this because its also built into pandas but you should know its a seperate package
dates = pd.read_excel("dateWorkbook.xlsx")
dates.head()

Ok so some dingbat decided to record the dates using spaces, dashes, and the proper full names of the months. Ugh how rude.  But we are in python so we can fix this rather easily because, as long as you specify the format of the date string, Python will turn any string into a datetime object.  To find the symbols referencing different types of date representations, visit http://strftime.org.

In [ ]:
dates['date'] = pd.to_datetime(dates['evilDateFormat'], format= "%Y %B-%d")

In [ ]:
dates.head(3)

### OH SNAP! 
In one line of code we converted an evil date string into something actually usable!  Pandas has a whole bunch of other packages built into it.  What other magic can it do?  
### Can it Find Weekdays???

In [ ]:
# First lets set 'date' to be the index Pandas dataframe index
# An index in a database is a column where every value has to be unique
# no two rows can have the same index value

# Index = Primary Key.  For all you SQL lovers out there

dates.set_index('date', inplace=True)

In [ ]:
# now lets find out which dates land on a weekday.  
dates['weekday'] = dates.index.weekday

dates.tail(8)

### Now lets remove all Saturday and Sunday entries
Monday is represented with 0 and Sunday is 6 so we want to remove all 5's and 6's

In [ ]:
weekdays = dates[dates['weekday'] < 5]
weekdays.tail(8)

## That's cool and all.. but how do we get rid of holidays????? Yeah Pandas has a solution for that too.

In [ ]:
# import the USFederalHolidays calendar from pandas, add Good Friday and remove Veteran's and Columbus days

from pandas.tseries.holiday import get_calendar, HolidayCalendarFactory, GoodFriday
from datetime import datetime

cal = get_calendar('USFederalHolidayCalendar')  # Create calendar instance

# There are 9 financial holidays but 10 US federal Holidays.
# Financial holidays include Good Friday
if len(cal.rules) == 10:
    cal.rules.pop(7)                                # Remove Veteran's Day rule
    cal.rules.pop(6)                                # Remove Columbus Day rule
tradingCal = HolidayCalendarFactory('TradingCalendar', cal, GoodFriday)

You can see which holidays **tradingCal** has with by checking its **.rules** attribute

In [ ]:
for holiday in tradingCal.rules:
    print(holiday.name)
print("\nNumber of Holidays: %s" % len(tradingCal.rules))

In [ ]:
holidays = tradingCal.holidays(tradingCal,start='2012-11-01',end='2018-12-30')
#weekdays['holiday'] = ["Biz" if x not in tradingCal.holidays(tradingCal) else "Holiday" for x in weekdays['date']]

print(holidays)

**Now we can filter for all the rows with index values NOT in that list.  In pandas, the "NOT" symbol is denoted by the tilde '~' **

In [ ]:
businessdays = weekdays[~weekdays.index.isin(holidays)]
businessdays.tail(7)

#### November 23rd was Thanksgiving and I don't see it up there!!!

#### Find the number of business days between two values by subtracting the row value of the start date from the row value of the end date.

In [ ]:
start_date = '11-21-2017'
end_date = '11-27-2017'

num_days = businessdays.index.get_loc(end_date) - businessdays.index.get_loc(start_date)
print("Number of business days between "+start_date+" and "+end_date+" is: %s" % num_days)

![alt text](https://i.pinimg.com/736x/6c/28/6f/6c286f8786ca890a9d61e2543d9a5b0d--computer-science-humor-computer-jokes.jpg)

## Your turn!  There is a second tab in dateWorkbook.xlsx.  Repeat the exercise above and follow the directions below

1. Load in the second tab of the excel file
2. convert the weird format (Month Year Day) into something usable
3. remove weekdays
4. sum the remaining PageViews

In [ ]:
# I'm gonna need you to google this part
exercise = 


######## can't touch this
exercise

In [ ]:
# Create a column with the datetime conversions
# Visit this website for guidance:  
# https://docs.python.org/3.1/library/datetime.html#strftime-strptime-behavior

exercise['dates'] =

In [ ]:
# filter for only weekdays

## New Exercise: SQL Table Joins / V-lookups in Pandas.  
Just like in SQL and excel (with V-lookups), you can do table joins in pandas order to connect two different datasets (tables) by a shared column/primary key

In this example, we will be importing the excel file **"musicWorkbook.xlsx"** which has two tabs.  One tab has the current top 25 Billboard songs and their artists.  The second tab has a list of artists and their respective genres.  In this exercise we will be trying to find the genre most represented in the Billboard top 25.

In [ ]:
# load the first tab of the excel file into a dataframe called 'songs'
# you will need to learn how specify which tab to load into 



#####################
songs

In [ ]:
# load the second tab of the excel file into a dataframe called 'artists'



#####################
artists

Now that we have **songs** and **artists** dataframes, let us join them to create a 3rd dataframe called "**combined**".

Answer is here -> https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging

In [ ]:
# HERE -> https://pandas.pydata.org/pandas-docs/stable/merging.html#database-style-dataframe-joining-merging
# You want to look for some function that is either ".merge" or ".join"



#####################
combined

In [ ]:
# now lets group and sum "combined" into a variable called genre in order to find 
# the genre that is most represented.
# we did this before so look further up the page for a refresher



####################
genre

## BONUS ROUND!  PANDAS + SQL
There is a python package (of course there is) that enables you to interact with pandas dataframes like they were SQL tables.  Just in case you didn't want to learn all of the pandas syntax!

*This only works if you have the enterprise licence for Python.*

In [ ]:
import pandas as pd
import datetime

sqlExample = pd.read_excel("dateWorkbook.xlsx")

In [ ]:
from pandasql import sqldf

In [ ]:
# look at all the variables we have so far for something names sqlExample and query it
sqldf("select * from sqlExample where pageViews > 30", locals())

### Now you can do all sorts of fun data analysis.  If you want to learn more, log on to pluralsight with a vanguard account and access the 4 free data camp courses.  DataCamp will also soon be available to non

If you are in IT, this should be an MCA role you can grab.  IF you are outside IT, I believe you need special permission and there is a charge.

You can also reach me, Christian Rivera, at christian_rivera@vangaurd.com for any questions.